header {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

header a {
  border: 2px solid black;
  padding: 1rem 2rem;
  text-decoration: none;
  background: black;
  color: white;
  margin:0 1rem;
}

header form input[type=submit] {
  border: 2px solid black;
  padding: 1rem 2rem;
  text-decoration: none;
  background: black;
  color: white;
  margin:0 1rem;
}

h1 {
  text-align:center;
}

.blog-container {
  margin:0 auto;
  display:block;
  width:50%;
}

form {
  text-align:center;
}