header {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

header a {
  border: 2px solid black;
  padding: 1rem 2rem;
  text-decoration: none;
  background: black;
  color: white;
  margin:0 1rem;
}

input[type=submit] {
  border: 2px solid black;
  padding: 1.2rem 2rem;
  text-decoration: none;
  background: black;
  color: white;
  margin:0 1rem;
  cursor: pointer;
}

h1 {
  text-align:center;
}

.blog-container {
  margin:0 auto;
  display:block;
  width:50%;
}

form {
  text-align:center;
}

.light-mode {
  background-color: #eee;
  color: #000;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}